html {
  height: 100%!important;
}

body {
  font-family: "Segoe UI Emoji"
}

/* .bg-verticle-twotone {
  background-color: #c7c7c7;
  background-image: -webkit-linear-gradient(7.5deg, #e8e8e8 30%, #ffffff 50%);
  min-height: 100vh!important;
} */

.svg-img-fluid {
  max-width: 100%;
  /* height: auto; */
}

@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition-property: height, visibility;
    transition-duration: 0.35s;
  }
}

#offcanvasMenu {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
  transition: all 0.1s ease;
 } 
 #offcanvasMenu.show {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
 }
 .offcanvas-backdrop.fade.show{
  opacity: 0;
  pointer-events: all;
  transform: translateX(0);
  transition: all 0.3s ease;
 }
